In [26]:
import pandas as pd
import numpy as np
import random

lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI':lst})
data.head()

  whoAmI
0  robot
1  robot
2  human
3  human
4  human

In [27]:
categories = np.unique(data['whoAmI'])
one_hot = np.zeros((len(data), len(categories)))
for i, category in enumerate(categories):
    one_hot[:, i] = (data['whoAmI'] == category).astype(int)
one_hot_df = pd.DataFrame(one_hot, columns=categories)
data = pd.concat([data, one_hot_df], axis=1)
data.head()

  whoAmI  human  robot
0  robot    0.0    1.0
1  robot    0.0    1.0
2  human    1.0    0.0
3  human    1.0    0.0
4  human    1.0    0.0

In [28]:
# one_hot = pd.get_dummies(data['whoAmI'])
# data = pd.concat([data, one_hot], axis=1)
# data.head()